mixin button(text, modif= null, type= 'button')
  .button(class= modif)
    button(type= type)
      span= text
      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.0365 12.4728C11.5887 12.4728 12.0365 12.0251 12.0364 11.4728L12.0364 2.47282C12.0364 1.92053 11.5887 1.47282 11.0364 1.47283C10.4841 1.47283 10.0364 1.92055 10.0364 2.47283L10.0364 10.4728L2.03644 10.4729C1.48416 10.4729 1.03645 10.9206 1.03645 11.4729C1.03645 12.0252 1.48417 12.4729 2.03646 12.4729L11.0365 12.4728ZM0.356375 2.20711L10.3293 12.1799L11.7436 10.7657L1.77058 0.792888L0.356375 2.20711Z"/>
      </svg>

mixin link(text, link, modif= null)
  .button(class= modif)
    a(href= link)
      span= text
      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.0365 12.4728C11.5887 12.4728 12.0365 12.0251 12.0364 11.4728L12.0364 2.47282C12.0364 1.92053 11.5887 1.47282 11.0364 1.47283C10.4841 1.47283 10.0364 1.92055 10.0364 2.47283L10.0364 10.4728L2.03644 10.4729C1.48416 10.4729 1.03645 10.9206 1.03645 11.4729C1.03645 12.0252 1.48417 12.4729 2.03646 12.4729L11.0365 12.4728ZM0.356375 2.20711L10.3293 12.1799L11.7436 10.7657L1.77058 0.792888L0.356375 2.20711Z"/>
      </svg>

mixin offer(img, title, textArr)
  .offer
    img(src=`assets/img/svg/${img}.svg`, width="423", height="385", alt="", loading="lazy")
    .offer__descrip
      .offer__top
        .title
          h3= title
        .text
          each txt in textArr
            p= txt
      .offer__bot
        +button('Связаться с нами')

mixin joinItem(img, title, text)
  .join__item
    .join__item-header
      .join__item-img
        img(src=`assets/img/svg/${img}.svg`, width="60", height="60", alt="", loading="lazy")
      h3= title
    details(open)
      summary
        <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.40539 1.25L8.7666 14L16.1278 1.25H1.40539Z" fill="#FFB700" stroke="#162A3C"></path>
        </svg>
      .join__item-descrip
        .text
          p= text

mixin contactLinks
  .contact-links
    ul.contact-links__list
      li
        img(src="assets/img/svg/mail.svg", width="24", height="28", alt="", loading="lazy")
        a(href="mailto:eraapp@mobile.com") eraapp@mobile.com
      li
        img(src="assets/img/svg/phone.svg", width="18", height="28", alt="", loading="lazy")
        a(href="tel:18881234567") +1 888-123-4567
    ul.contact-links__social
      li
        a(href="#" target="_blank" aria-label="facebook")
          img(src="assets/img/svg/facebook.svg", width="27", height="27", alt="", loading="lazy")
      li
        a(href="#" target="_blank" aria-label="instagram")
          img(src="assets/img/svg/insta.svg", width="27", height="27", alt="", loading="lazy")
      li
        a(href="#" target="_blank" aria-label="twitter")
          img(src="assets/img/svg/twitter.svg", width="27", height="27", alt="", loading="lazy")
      li
        a(href="#" target="_blank" aria-label="behance")
          img(src="assets/img/svg/behance.svg", width="27", height="27", alt="", loading="lazy")
      li
        a(href="#" target="_blank" aria-label="dribble")
          img(src="assets/img/svg/dribble.svg", width="27", height="27", alt="", loading="lazy")
      li
        a(href="#" target="_blank" aria-label="linkedin")
          img(src="assets/img/svg/linkedin.svg", width="27", height="27", alt="", loading="lazy")

mixin contactForm
  form.form(action="#", method="POST")
    .form__control
      input.form__input(type="text", name="name", placeholder="Ваше имя*")
    .form__control
      input.form__input(type="email", name="e-mail", placeholder="Ваш e-mail*")
    .form__control
      input.form__input(type="text", name="company", placeholder="Ваша компания")
    .form__control.form__select
      #service-container.form__options-container
        .form__option
          input#digital-strategy(type="radio" name="service" value="digital-strategy")
          label(for="digital-strategy") Цифровая стратегия
        .form__option
          input#optimization(type="radio" name="service" value="optimization")
          label(for="optimization") Оптимизация магазина приложений
        .form__option
          input#design(type="radio" name="service" value="design")
          label(for="design") UI/UX дизайн
        .form__option
          input#dev-mobile(type="radio" name="service" value="dev-mobile")
          label(for="dev-mobile") Разработка мобильных приложений
        .form__option
          input#dev-web(type="radio" name="service" value="dev-web")
          label(for="dev-web") Разработка  Web-приложений
        .form__option
          input#design-motion(type="radio" name="service" value="design-motion")
          label(for="design-motion") Motion дизайн
        .form__option
          input#support(type="radio" name="service" value="support")
          label(for="support") Поддержка, хостинг и управление
        .form__option
          input#dev-ops(type="radio" name="service" value="dev-ops")
          label(for="dev-ops") Услуги Dev Ops
        .form__option
          input#testing(type="radio" name="service" value="testing")
          label(for="testing") Тестирование
      #service-selected.form__option-selected.form__input Выберите услугу
    .form__control.form__control--wide
      textarea.form__input(name="message", placeholder="Расскажите коротко о вашем проекте" maxlength="250")
      label.form__upload-button
        input.form__input(type="file" multiple="multiple" accept=".doc, .docx, .odt, .pdf, .ppt, .pptx, .tex, .txt, .rtf, .wps, .wks, .wpd, .png, .jpg, .jpeg" hidden name="files" data-form-upload)
        span.form__error
        span.form__upload-button-txt
          span Прикрепить файл
          img(src="assets/img/png/attach.png", width="30", height="30", alt="")
    .form__group
      label.form__checkbox-wrapper
        input.form__checkbox(name="agreement" type="checkbox" checked hidden)
        span.form__checkbox-styled
        span.form__checkbox-txt Я согласен (а) на обработку моих персональных данных
      +button('Отправить', 'button--secondary', 'submit')
