mixin logo
  a.logo(href="index.html")
    img(src="assets/img/svg/logo.svg", width="256", height="56", alt="Era App")

mixin button(text, modif= null, type= 'button')
  .button(class= modif, data-modal-target="modal-callback")
    button(type= type)
      span= text
      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.0365 12.4728C11.5887 12.4728 12.0365 12.0251 12.0364 11.4728L12.0364 2.47282C12.0364 1.92053 11.5887 1.47282 11.0364 1.47283C10.4841 1.47283 10.0364 1.92055 10.0364 2.47283L10.0364 10.4728L2.03644 10.4729C1.48416 10.4729 1.03645 10.9206 1.03645 11.4729C1.03645 12.0252 1.48417 12.4729 2.03646 12.4729L11.0365 12.4728ZM0.356375 2.20711L10.3293 12.1799L11.7436 10.7657L1.77058 0.792888L0.356375 2.20711Z"/>
      </svg>

mixin link(text, link, modif= null)
  .button(class= modif)
    a(href= link)
      span= text
      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.0365 12.4728C11.5887 12.4728 12.0365 12.0251 12.0364 11.4728L12.0364 2.47282C12.0364 1.92053 11.5887 1.47282 11.0364 1.47283C10.4841 1.47283 10.0364 1.92055 10.0364 2.47283L10.0364 10.4728L2.03644 10.4729C1.48416 10.4729 1.03645 10.9206 1.03645 11.4729C1.03645 12.0252 1.48417 12.4729 2.03646 12.4729L11.0365 12.4728ZM0.356375 2.20711L10.3293 12.1799L11.7436 10.7657L1.77058 0.792888L0.356375 2.20711Z"/>
      </svg>

mixin more(isLink= false, link= null)
  if isLink
    a.more(href= link)
      |Подробнее
      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.0365 12.4728C11.5887 12.4728 12.0365 12.0251 12.0364 11.4728L12.0364 2.47282C12.0364 1.92053 11.5887 1.47282 11.0364 1.47283C10.4841 1.47283 10.0364 1.92055 10.0364 2.47283L10.0364 10.4728L2.03644 10.4729C1.48416 10.4729 1.03645 10.9206 1.03645 11.4729C1.03645 12.0252 1.48417 12.4729 2.03646 12.4729L11.0365 12.4728ZM0.356375 2.20711L10.3293 12.1799L11.7436 10.7657L1.77058 0.792888L0.356375 2.20711Z"/>
      </svg>
  else
    p.more
      |Подробнее
      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.0365 12.4728C11.5887 12.4728 12.0365 12.0251 12.0364 11.4728L12.0364 2.47282C12.0364 1.92053 11.5887 1.47282 11.0364 1.47283C10.4841 1.47283 10.0364 1.92055 10.0364 2.47283L10.0364 10.4728L2.03644 10.4729C1.48416 10.4729 1.03645 10.9206 1.03645 11.4729C1.03645 12.0252 1.48417 12.4729 2.03646 12.4729L11.0365 12.4728ZM0.356375 2.20711L10.3293 12.1799L11.7436 10.7657L1.77058 0.792888L0.356375 2.20711Z"/>
      </svg>

mixin crumbs(arrLinks, modif= null)
  .crumbs(class= modif)
    .crumbs__inner
      ul
        li: a(href='index.html') Главная
        for link in arrLinks
          if link.href
            li: a(href= link.href)= link.name
          else
            li: span= link.name

mixin offer(img, title, textArr, isRellax= false, modif= null)
  .offer(class= modif)
    .container
      .offer__inner.wrapper-round
        if isRellax
          img(src=`assets/img/svg/${img}.svg`, width="400", height="363", alt="", loading="lazy")
        else
          img(src=`assets/img/svg/${img}.svg`, width="400", height="363", alt="", loading="lazy")
        .offer__descrip
          .offer__top
            .title
              h3= title
            .text.offer__text
              each txt in textArr
                p= txt
          .offer__bot
            +button('Связаться с нами')

mixin serviceItem(link, img, title, text= null)
  li
    a(href= link)
      img(src=`assets/img/svg/${img}.svg`, width="105", height="106", alt="")
      div
        h3= title
        .deal-list__text
          +more
          if text
            p.deal-list__info= text


mixin joinItem(img, title, text)
  .join__item.wrapper-round
    .join__item-header
      .join__item-img
        img(src=`assets/img/svg/${img}.svg`, width="60", height="60", alt="", loading="lazy")
      h3= title
    details.details(open)
      summary
        <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.40539 1.25L8.7666 14L16.1278 1.25H1.40539Z" fill="#FFB700" stroke="#162A3C"></path>
        </svg>
      .join__item-descrip
        .text
          p= text

mixin stagesItem(num, title, text)
  li
    span= num
    div
      h3= title
      details.details(open)
        summary
          <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13878 1.25L8.5 14L15.8612 1.25H1.13878Z" fill="#FFB700" stroke="#FBFBFF"/>
          </svg>
        .text.text--light.text--sm
          p= text

mixin stackItem(title, contentArr, modif= null)
  .stack__item(class= modif)
    details.details.stack__details(open)
      summary
        h3= title
        <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.40539 1.25L8.7666 14L16.1278 1.25H1.40539Z" fill="#FFB700" stroke="#162A3C"></path>
        </svg>
      .stack__item-inner
        for content in contentArr
          .stack__item-content
            img(src=`assets/img/svg/${content.img}.svg`, width="55", height="55", alt="", loading="lazy")
            h4= content.title

mixin contactLinks
  .contact-links
    ul.contact-links__list
      li
        img(src="assets/img/svg/mail.svg", width="24", height="28", alt="")
        a(href="mailto:eraapp@mobile.com") eraapp@mobile.com
      li
        img(src="assets/img/svg/phone.svg", width="18", height="28", alt="")
        a(href="tel:18881234567") +1 888-123-4567
    ul.contact-links__social
      li
        a(href="#" target="_blank" aria-label="facebook")
          img(src="assets/img/svg/facebook.svg", width="27", height="27", alt="")
      li
        a(href="#" target="_blank" aria-label="instagram")
          img(src="assets/img/svg/insta.svg", width="27", height="27", alt="")
      li
        a(href="#" target="_blank" aria-label="twitter")
          img(src="assets/img/svg/twitter.svg", width="27", height="27", alt="")
      li
        a(href="#" target="_blank" aria-label="behance")
          img(src="assets/img/svg/behance.svg", width="27", height="27", alt="")
      li
        a(href="#" target="_blank" aria-label="dribble")
          img(src="assets/img/svg/dribble.svg", width="27", height="27", alt="")
      li
        a(href="#" target="_blank" aria-label="linkedin")
          img(src="assets/img/svg/linkedin.svg", width="27", height="27", alt="")

mixin devWebItem(title, text)
  li
    .dev__item-text
      h3= title
      .text.dev__item-subtitle
        h4= text
    .dev__item-order
      +button('Заказать разработку')

mixin sectionSolution
  section.solution
    .container
      .solution__content
        .solution__descrip
          .title(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300")
            h2
              |Мы разрабатываем решение&nbsp;
              br
              span.title__part-red для любой ниши
              |,&nbsp;
              br
              |которая нуждается в нас
          .solution__list(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
            div
              img(src="assets/img/svg/solution-1.svg", width="80", height="80", alt="", loading="lazy")
              h3 Образование и здравохранение
            div
              img(src="assets/img/svg/solution-2.svg", width="80", height="80", alt="", loading="lazy")
              h3 Торговля и коммерция
            div
              img(src="assets/img/svg/solution-3.svg", width="80", height="80", alt="", loading="lazy")
              h3 Туризм и логистика
            div
              img(src="assets/img/svg/solution-4.svg", width="80", height="80", alt="", loading="lazy")
              h3 Здоровье и спорт
            div
              img(src="assets/img/svg/solution-5.svg", width="80", height="80", alt="", loading="lazy")
              h3 Еда и рестораны
            div
              img(src="assets/img/svg/solution-6.svg", width="80", height="80", alt="", loading="lazy")
              h3 Социальные сети
        figure.solution__img
          img(src="assets/img/svg/tree.svg", width="609", height="609", alt="", loading="lazy")
          .solution__icon.solution__icon--apple.solution__icon--dark
            img(src="assets/img/svg/apple.svg", width="75", height="75" alt="", loading="lazy")
          .solution__icon.solution__icon--swift
            img(src="assets/img/svg/swift.svg", width="75", height="75" alt="", loading="lazy")
          .solution__icon.solution__icon--node.solution__icon--dark
            img(src="assets/img/svg/node.svg", width="75", height="75" alt="", loading="lazy")
          .solution__icon.solution__icon--csharp
            img(src="assets/img/svg/csharp.svg", width="75", height="75" alt="", loading="lazy")
          .solution__icon.solution__icon--atom
            img(src="assets/img/svg/atom.svg", width="75", height="75" alt="", loading="lazy")
          .solution__icon.solution__icon--js.solution__icon--dark
            img(src="assets/img/svg/js.svg", width="75", height="75" alt="", loading="lazy")
          .solution__icon.solution__icon--python.solution__icon--dark
            img(src="assets/img/svg/python.svg", width="75", height="75" alt="", loading="lazy")
          .solution__icon.solution__icon--php
            img(src="assets/img/svg/php.svg", width="75", height="75" alt="", loading="lazy")
          .solution__icon.solution__icon--android
            img(src="assets/img/svg/android.svg", width="75", height="75" alt="", loading="lazy")
          figcaption Technology stack

mixin draftItem(img, title, link)
  li
    img(src=`assets/img/png/${img}.png`, width="385", height="378", alt="", loading="lazy")
    div
      h3= title
      +more(true, link)

mixin sectionDraft
  section.draft.section
    .container
      .title.title--light
        h2 Наши проекты
      .draft__inner
        ul.draft__list
          +draftItem('projects-1', 'Femida', 'project-femida.html')
          +draftItem('projects-2', 'Lapp', 'project-lapp.html')
          +draftItem('projects-3', 'Iona management', 'project-ionia.html')
        +link('Все проекты', "#", 'button--secondary')

mixin sectionAboutSolutions
  section.about.about--light.about--marginless
    .container
      .about__inner
        .about__img
          .about__img-wrapper
            img(src="assets/img/png/about-3.png", width="580", height="470", alt="", loading="lazy")
        .about__descrip
          .title.title--light
            h2
              |Мы разрабатываем решение&nbsp;
              br
              span.title__part-red для любой ниши
              |,&nbsp;
              br
              |которая нуждается в нас
          .about__list.about__list--light
            div
              img(src="assets/img/svg/solution-1-light.svg", width="80", height="80", alt="", loading="lazy")
              h3 Образование и здравохранение
            div
              img(src="assets/img/svg/solution-2-light.svg", width="80", height="80", alt="", loading="lazy")
              h3 Торговля и коммерция
            div
              img(src="assets/img/svg/solution-3-light.svg", width="80", height="80", alt="", loading="lazy")
              h3 Туризм и логистика
            div
              img(src="assets/img/svg/solution-4-light.svg", width="80", height="80", alt="", loading="lazy")
              h3 Здоровье и спорт
            div
              img(src="assets/img/svg/solution-5-light.svg", width="80", height="80", alt="", loading="lazy")
              h3 Еда и рестораны
            div
              img(src="assets/img/svg/solution-6-light.svg", width="80", height="80", alt="", loading="lazy")
              h3 Социальные сети

mixin contactForm(id)
  form.form(action="#", method="POST")
    .form__control
      input.form__input(type="text", name="name", placeholder="Ваше имя*", required)
    .form__control
      input.form__input(type="email", name="e-mail", placeholder="Ваш e-mail*", required)
    .form__control
      input.form__input(type="text", name="company", placeholder="Ваша компания")
    .form__control.form__select(tabindex="0" data-form-dropdown)
      .form__options-container(data-form-dropdown-container)
        .form__option(data-form-dropdown-option)
          input(id=`digital-strategy-${id}` type="radio" name="service" value="digital-strategy")
          label(for=`digital-strategy-${id}`) Цифровая стратегия
        .form__option(data-form-dropdown-option)
          input(id=`optimization-${id}` type="radio" name="service" value="optimization")
          label(for=`optimization-${id}`) Оптимизация магазина приложений
        .form__option(data-form-dropdown-option)
          input(id=`design-${id}` type="radio" name="service" value="design")
          label(for=`design-${id}`) UI/UX дизайн
        .form__option(data-form-dropdown-option)
          input(id=`dev-mobile-${id}` type="radio" name="service" value="dev-mobile")
          label(for=`dev-mobile-${id}`) Разработка мобильных приложений
        .form__option(data-form-dropdown-option)
          input(id=`dev-web-${id}` type="radio" name="service" value="dev-web")
          label(for=`dev-web-${id}`) Разработка  Web-приложений
        .form__option(data-form-dropdown-option)
          input(id=`design-motion-${id}` type="radio" name="service" value="design-motion")
          label(for=`design-motion-${id}`) Motion дизайн
        .form__option(data-form-dropdown-option)
          input(id=`support-${id}` type="radio" name="service" value="support")
          label(for=`support-${id}`) Поддержка, хостинг и управление
        .form__option(data-form-dropdown-option)
          input(id=`dev-ops-${id}` type="radio" name="service" value="dev-ops")
          label(for=`dev-ops-${id}`) Услуги Dev Ops
        .form__option(data-form-dropdown-option)
          input(id=`testing-${id}` type="radio" name="service" value="testing")
          label(for=`testing-${id}`) Тестирование
      .form__option-selected.form__input(data-form-dropdown-selected) Выберите услугу
    .form__control.form__control--wide
      textarea.form__input(name="message", placeholder="Расскажите коротко о вашем проекте" maxlength="250")
      label.form__upload-button
        input.form__input(type="file" multiple="multiple" accept=".doc, .docx, .odt, .pdf, .ppt, .pptx, .tex, .txt, .rtf, .wps, .wks, .wpd, .png, .jpg, .jpeg" hidden name="files")
        span.form__error
        span.form__upload-button-txt
          span Прикрепить файл
          img(src="assets/img/png/attach.png", width="30", height="30", alt="")
    .form__group
      label.form__checkbox-wrapper
        input.form__checkbox(name="agreement" type="checkbox" checked hidden)
        span.form__checkbox-styled
        span.form__checkbox-txt Я согласен (а) на обработку моих персональных данных
      +button('Отправить', 'button--secondary form__submit', 'submit')
